---
layout: page
title: Projects
---
<section class="list">
    <p>
        You can filter the projects to see me as:
        <div class="btn-group project-sort">
            <button class="btn active" data-tag="*">Show All</button>
            <button class="btn" data-tag="datascience">Data Scientist</button>
            <button class="btn" data-tag="python">Python Developer</button>
            <button class="btn" data-tag="java">Java Developer</button>
        </div>
    </p>

    {% for project in site.data.projects %}
        <div class="post item project {% if project.my_favorite %}star{% endif %}{% for tag in project.sorting_tags %} tag_{{tag|slugify}}{% endfor %}">
            {% if project.url or project.source_code %}
            <a class="url" href="{% if project.url %}{{ project.url }}{% elsif project.source_code %}{{ project.source_code }}{% endif %}" target="_new">
                <h3 class="title">{% if project.my_favorite %}:star:{% endif %} {{ project.name }}</h3>
            </a>
            {% else %}
            <span class="url">
                <h3 class="title">{% if project.my_favorite %}:star:{% endif %} {{ project.name }}</h3>
            </span>
            {% endif %}
            <span class="date"><time>{{ project.active }}</time></span>

            <div class="post-tags">
                <a class="item country" href="#">:{{ project.country }}:</a>
                {% if project.sorting_tags contains 'academic' %}
                <a class="item academic" href="#">:mortar_board: Academic</a>
                {% endif %}
                {% if project.sorting_tags contains 'production' %}
                <a class="item production" href="#">:rocket: In Production</a>
                {% endif %}
                {% for tag in project.tags %}
                    <a class="item" href="#">
                        {% if tag == 'Python' %}<img class="emoji" src="https://upload.wikimedia.org/wikipedia/commons/0/0a/Python.svg" />{% endif %}
                        {% if tag == 'TensorFlow' %}<img class="emoji" src="https://upload.wikimedia.org/wikipedia/commons/2/2d/Tensorflow_logo.svg" />{% endif %}
                        {% if tag == 'AWS' %}<img class="emoji" src="https://upload.wikimedia.org/wikipedia/commons/5/5c/AWS_Simple_Icons_AWS_Cloud.svg" />{% endif %}
                        {% if tag == 'Java' %}<img class="emoji" src="/assets/images/java.svg" />{% endif %}
                        {% if tag == 'Android' %}<img class="emoji" src="https://upload.wikimedia.org/wikipedia/commons/8/82/Android_logo_2019.svg" />{% endif %}
                        {{ tag }}
                    </a>
                {% endfor %}
            </div>
            {{ project.description }}

        </div>
    {% endfor %}
</section>
