---
layout: page
title: Projects
---
<section class="list">
    {% for project in site.data.projects %}
        <div class="post item {% if project.my_favorite %}star{% endif %}{% for tag in project.sorting_tags %} tag_{{tag|slugify}}{% endfor %}">
            {% if project.url %}
            <a class="url" href="{{ project.url }}">
                <h3 class="title">{% if project.my_favorite %}:star:{% endif %} {{ project.name }}</h3>
            </a>
            {% else %}
            <span class="url" href="{{ project.url }}">
                <h3 class="title">{% if project.my_favorite %}:star:{% endif %} {{ project.name }}</h3>
            </span>
            {% endif %}
            <span class="date"><time>{{ project.active }}</time></span>

            <div class="post-tags">
                {% for tag in project.tags %}
                    <a class="item" href="#">{{ tag }}</a>
                {% endfor %}
            </div>
            {{ project.description }}

        </div>
    {% endfor %}
</section>
