
@import "base/variables";
@import "base/normalize";
@import "base/syntax";
@import "base/general";
@import "base/helpers";

@import "pages/home-blog-projects";
@import "pages/page";
@import "pages/post";
@import "pages/tags";

@import "components/author";
@import "components/footer";
@import "components/header";
@import "components/nav";
@import "components/others";
@import "components/pagination";

@import "components/side-by-side";
@import "components/social-links";
@import "components/spoiler";
@import "components/buttons";

@font-face {
    font-family: Vazir;
    src: url('{{ site.url }}/assets/font/Vazir.eot');
    src: url('{{ site.url }}/assets/font/Vazir.eot?#iefix') format('embedded-opentype'), url('/assets/font/Vazir.woff') format('woff'), url('/assets/font/Vazir.ttf') format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: Vazir;
    src: url('{{ site.url }}/assets/font/Vazir-Bold.eot');
    src: url('{{ site.url }}/assets/font/Vazir-Bold.eot?#iefix') format('embedded-opentype'), url('/assets/font/Vazir-Bold.woff') format('woff'), url('/assets/font/Vazir-Bold.ttf') format("truetype");
    font-weight: bold;
}
